<%- include('./base/header.ejs') %>
<div class="container">
  <div class="alert bg-success mt-3">
    <h4 class="text-center">Create New Account</h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form action="" method="post">
        <div class="filed my-3">
          <label for="" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            name=""
            placeholder="enter your name"
          />
        </div>
        <div class="filed my-3">
          <label for="" class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            name=""
            placeholder="enter your city"
          />
        </div>
        <div class="filed my-3">
          <label for="" class="form-label">email</label>
          <input
            type="email"
            class="form-control"
            name=""
            placeholder="enter your email"
          />
        </div>
        <div class="filed my-3">
          <label for="" class="form-label">Contact</label>
          <input
            type="number"
            class="form-control"
            name=""
            placeholder="enter your phone number"
          />
        </div>
        <input type="submit" value="Create" class="btn btn-warning w-100" />
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>

<%- include('./base/footer.ejs') %>
